# CARIOCA > Formulário Socioeconômico aplicado

Esse será uma das bases de dados de buscarei desenvolver para o trabalho da disciplina

Bibliotecas

In [47]:
import numpy as np
from datetime import date, timedelta
import string
import time
from pandas import DataFrame, unique
from os import getcwd
from pygsheets import authorize
import pivottablejs

### integração via API - será usada biblioteca pygsheets:

In [66]:
#autorizacao por credenciais
credenciais = authorize(service_file = getcwd() + "/keysurveycarioca.json")

In [67]:
link = "https://docs.google.com/spreadsheets/d/1cEhObgXgvahMJYThuodjbXII-v-2e7FyLEOfDz00NiE/"

In [68]:
# acessando planilha
planilha = credenciais.open_by_url(link)
tabela = planilha.worksheet_by_title("Respostas ao formulário 1")

### Criação do quadro de dados - Dataframe

In [114]:
# Criação
from datetime import date
carioca_df = DataFrame(tabela)
print (f'Na data {date.today()} esse quadro de dados está sendo criado.')

Na data 2024-05-28 esse quadro de dados está sendo criado.

In [115]:
print(f'Até o momento informado na linha de cima, o agendamento foi aplicado em {carioca_df.shape[0] - 1} pessoas.')

Até o momento informado na linha de cima, o agendamento foi aplicado em 632 pessoas.

In [116]:
carioca_df.head(1)

,0,1,2,3,4,5,6,7,8,9,...,17,18,19,20,21,22,23,24,25,26
0,Carimbo de data/hora,LOCAL,NOME COMPLETO,CEP,Email,Como soube do Projeto de Castração de cães e g...,Possui mais animais de estimação?,Se sim. Quantos?,Já realizou castração de outro animal antes?,Se não realizou. Por que?,...,Qual a faixa de renda mensal da sua moradia (s...,Quantos banheiros sua moradia tem?,Quantos quartos tem na sua moradia?,Sobre a situação da sua moradia (sua casa)?,,,,,,

In [117]:
df_carioca = carioca_df[[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]]
df_carioca.columns = list(carioca_df[[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]].iloc[0])

In [118]:
df_carioca.shape

(633, 21)

In [119]:
df_carioca = df_carioca.drop(0,axis=0)

In [120]:
df_carioca.shape
print(df_carioca.columns)

Index(['Carimbo de data/hora', 'LOCAL', 'NOME COMPLETO', 'CEP', 'Email',
       'Como soube do Projeto de Castração de cães e gatos?',
       'Possui mais animais de estimação?', 'Se sim. Quantos?',
       'Já realizou castração de outro animal antes?',
       'Se não realizou. Por que?', 'Qual seu sexo?', 'Qual a sua idade?',
       'Como declara sua cor?',
       'Está trabalhando (está com ocupação remunerada) atualmente?',
       'Qual sua escolaridade?', 'Quantas pessoas moram com você?',
       'Quantas pessoas que moram com você tem renda mensal ou emprego?',
       'Qual a faixa de renda mensal da sua moradia (somando os valores de todos na casa por mês?)',
       'Quantos banheiros sua moradia tem?',
       'Quantos quartos tem na sua moradia?',
       'Sobre a situação da sua moradia (sua casa)?'],
      dtype='object')

### Retirando dados pessoais da base de dados para trabalhar

In [121]:
atributos = ['Carimbo de data/hora',
             'LOCAL',
             'Como soube do Projeto de Castração de cães e gatos?',
             'Possui mais animais de estimação?',
             'Se sim. Quantos?',
             'Já realizou castração de outro animal antes?',
             'Se não realizou. Por que?',
             'Qual seu sexo?',
             'Qual a sua idade?',
             'Como declara sua cor?',
             'Está trabalhando (está com ocupação remunerada) atualmente?',
             'Qual sua escolaridade?','Quantas pessoas moram com você?',
             'Quantas pessoas que moram com você tem renda mensal ou emprego?',
             'Qual a faixa de renda mensal da sua moradia (somando os valores de todos na casa por mês?)',
             'Quantos banheiros sua moradia tem?',
             'Quantos quartos tem na sua moradia?',
             'Sobre a situação da sua moradia (sua casa)?']

In [122]:
df_carioca = df_carioca[atributos]

In [123]:
variaveis = ['data',
             'local',
             'divulgacao',
             '+ pets',
             'quantos +',
             'castrou antes',
             'nao pq',
             'sexo',
             'idade',
             'cor',
             'ocupacao',
             'escolaridade',
             'pessoas moradia',
             'qtde c/ renda',
             'faixa de renda familiar',
             'banheiros moradia',
             'quartos moradia',
             'situacao da moradia']

In [124]:
df_carioca.columns = variaveis

In [125]:
df_carioca.head(1)

,data,local,divulgacao,+ pets,quantos +,castrou antes,nao pq,sexo,idade,cor,ocupacao,escolaridade,pessoas moradia,qtde c/ renda,faixa de renda familiar,banheiros moradia,quartos moradia,situacao da moradia
1,05/04/2024 09:05:16,RIO GRANDE,Faixa,Não,,Não,É o primeiro animal que tenho,Feminino,30 - 34,Preto,"Não ocupado (a), não está procurando trabalho ...",Ensino Médio Incompleto,5,1,"R$ 1.413,00 até R$ 2.824,00",1,Mais de 3 quartos,É própria (a que você mora)

### Formatando as datas para trabalhar com funções

In [126]:
df_carioca['data'] = df_carioca['data'].str.split(' ', expand=True)[0]

In [127]:
from convert_datas import converte_data
df_carioca['data'] = df_carioca['data'].map(lambda x: converte_data(x))

In [128]:
df_carioca.head(2)

,data,local,divulgacao,+ pets,quantos +,castrou antes,nao pq,sexo,idade,cor,ocupacao,escolaridade,pessoas moradia,qtde c/ renda,faixa de renda familiar,banheiros moradia,quartos moradia,situacao da moradia
1,2024-04-05,RIO GRANDE,Faixa,Não,,Não,É o primeiro animal que tenho,Feminino,30 - 34,Preto,"Não ocupado (a), não está procurando trabalho ...",Ensino Médio Incompleto,5,1,"R$ 1.413,00 até R$ 2.824,00",1,Mais de 3 quartos,É própria (a que você mora)
2,2024-04-05,RIO GRANDE,Whatsapp (grupo de faz parte),Não,,Não,É o primeiro animal que tenho,Feminino,40 - 44,Pardo,Está ocupado (a) trabalhando no momento sem ho...,Ensino Superior Completo,3,2,"R$ 4.237,00 até R$ 5.648,00",2,2,É própria (a que você mora)

### Formatando atributo - "faixa de renda familiar" - para ordenamento correto de variáveis qualitativas ordinais.

In [129]:
df_carioca['faixa de renda familiar'].unique()

array(['R$ 1.413,00 até R$ 2.824,00', 'R$ 4.237,00 até R$ 5.648,00',
       'R$ 707,00 até R$ 1.412,00', 'Não se Aplica',
       'R$ 2.825,00 até R$ 4.236,00', 'R$ 1,00 até R$ 706,00',
       'Mais de R$ 5.648,00'], dtype=object)

In [ ]:
df_carioca['faixa de renda familiar'].loc[df_carioca['faixa de renda familiar']=='R$ 1,00 até R$ 706,00']='1-706'

In [ ]:
df_carioca['faixa de renda familiar'].loc[df_carioca['faixa de renda familiar']=='R$ 707,00 até R$ 1.412,00']='707-1412'

In [ ]:
df_carioca['faixa de renda familiar'].loc[df_carioca['faixa de renda familiar']=='R$ 1.413,00 até R$ 2.824,00']='1413-2824'

In [ ]:
df_carioca['faixa de renda familiar'].loc[df_carioca['faixa de renda familiar']=='R$ 2.825,00 até R$ 4.236,00']='2825-4236'

In [ ]:
df_carioca['faixa de renda familiar'].loc[df_carioca['faixa de renda familiar']=='R$ 4.237,00 até R$ 5.648,00']='4237-5648'

In [ ]:
df_carioca['faixa de renda familiar'].loc[df_carioca['faixa de renda familiar']=='Mais de R$ 5.648,00']='5648 | +'

In [ ]:
df_carioca['faixa de renda familiar'].loc[df_carioca['faixa de renda familiar']=='Não se Aplica']='00'

In [140]:
df_carioca['faixa de renda familiar'].unique()

array(['1413-2824', '4237-5648', '707-1412', '00', '2825-4236', '1-706',
       '5648 | +'], dtype=object)

In [138]:
df_carioca.head(2)

,data,local,divulgacao,+ pets,quantos +,castrou antes,nao pq,sexo,idade,cor,ocupacao,escolaridade,pessoas moradia,qtde c/ renda,faixa de renda familiar,banheiros moradia,quartos moradia,situacao da moradia
1,2024-04-05,RIO GRANDE,Faixa,Não,,Não,É o primeiro animal que tenho,Feminino,30 - 34,Preto,"Não ocupado (a), não está procurando trabalho ...",Ensino Médio Incompleto,5,1,1413-2824,1,Mais de 3 quartos,É própria (a que você mora)
2,2024-04-05,RIO GRANDE,Whatsapp (grupo de faz parte),Não,,Não,É o primeiro animal que tenho,Feminino,40 - 44,Pardo,Está ocupado (a) trabalhando no momento sem ho...,Ensino Superior Completo,3,2,4237-5648,2,2,É própria (a que você mora)

### Relatórios rápidos

In [108]:
!pwd

/home/lino/Área de Trabalho/acaocidada/note_acaocidada

In [139]:
from pivottablejs import pivot_ui

pivot_ui(df_carioca, outfile_path='/home/lino/Área de Trabalho/acaocidada/note_acaocidada/carioca_28_05.html', url='http://localhost/carioca2805.html')