# Relatório com resumo dos resultados da fase 01 do projeto, no intervalo 

### fevereiro a maio

In [191]:
import numpy as np
from datetime import datetime, date, timedelta
import datetime
import string
import time
from csv import reader
from pandas import DataFrame, read_csv,unique, to_datetime, Series, get_dummies
import matplotlib.pyplot as plt
from os import getcwd, path
from convert import converte_data,datetime,formata,minuscula
import pivottablejs

#### Criação das funções que serão usadas nas três bases de dados.

As Funções precisam automatizar as tarefas:

1. formatar a data do atributo 'Carimbo de data/hora' para o formato que o python utiliza
2. juntar os atributos 'especie' e 'genero'
3. criar o atributo mês
4. criar o atributo do indicador de eficácia do projeto
5. formatar o null do atributo 'status/atendimento' para obter informações dos pets que não realizaram a cirurgia.
6. não lembro

### Arquivos localmente do projeto

In [4]:
caminhocarioca = path.abspath('AGENDAMENTO_CARIOCA.csv')
print (caminhocarioca)

/home/lino/Área de Trabalho/acaocidada/note_acaocidada/note_fs01/AGENDAMENTO_CARIOCA.csv

### Utlizando a biblioteca original do python para uma variável da aplicação

In [5]:
with open(caminhocarioca, mode='r') as csv:
    csv_carioca = reader(csv, delimiter=',')

### Utilizando a biblioteca do PANDAS p/ uma variável local da aplicação, escolheremos essa opção.

In [89]:
carioca_csv_pd = read_csv('AGENDAMENTO_CARIOCA.csv')

### Baixando as bases para dentro de uma variável

In [90]:
carioca_df = DataFrame(carioca_csv_pd)
print (carioca_df.columns)

Index(['Carimbo de data/hora', 'LOCAL', 'NOME COMPLETO', 'Unnamed: 3',
       'BAIRRO', 'CEP', 'DATA DE NASCIMENTO', 'TELEFONE', 'EMAIL',
       'NOME DO ANIMA', 'NOME DO ANIMAL', 'ESPÉCIE', 'GÊNERO',
       'STATUS/ATENDIMENTO', 'MOTIVO', 'ENDEREÇO COMPLETO', 'CPF',
       'Como soube do Projeto de Castração de cães e gatos?',
       'Como soube do Projeto de Castração de cães e gatos?.1', 'Unnamed: 19',
       'Unnamed: 20', 'LOCAL.1', 'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24'],
      dtype='object')

In [91]:
atributos = ['Carimbo de data/hora', 'ESPÉCIE', 'GÊNERO', 'STATUS/ATENDIMENTO']

In [92]:
carioca_df = carioca_df[atributos]

In [93]:
carioca_df['trailer'] = 'carioca'

### Formatação da Data para adequação das funções internas do Python

In [94]:
carioca_df['Carimbo de data/hora']=carioca_df['Carimbo de data/hora'].str.split(' ', expand=True)[0]

In [99]:
carioca_df['Carimbo de data/hora']=DataFrame(to_datetime(list(carioca_df['Carimbo de data/hora']), dayfirst=True))

In [109]:
carioca_df['meses']= Series(carioca_df['Carimbo de data/hora']).dt.month_name()

### Formatação dos Atributos ESPÉCIE e GÊNERO por falta de governança e também para informar de maneira direta as estatísticas descritivas solicitadas da primeira fase do projeto.

In [125]:
carioca_df['ESPÉCIE'] = carioca_df['ESPÉCIE'].str.casefold()

In [138]:
carioca_df['GÊNERO']=carioca_df['GÊNERO'].str.casefold()
carioca_df['GÊNERO']=carioca_df['GÊNERO'].str.rstrip()

In [147]:
carioca_df['GÊNERO'].unique()

array(['femea', 'canino_m', 'felino_m', 'fêmea', 'gata'], dtype=object)

In [151]:
#Caninos
carioca_df.loc[(carioca_df['ESPÉCIE']=='canino') & (carioca_df['GÊNERO']=='macho'),['GÊNERO']]='canino_m'
carioca_df.loc[(carioca_df['ESPÉCIE']=='canino') & (carioca_df['GÊNERO']=='femea'),['GÊNERO']]='canino_f'
carioca_df.loc[(carioca_df['ESPÉCIE']=='canino') & (carioca_df['GÊNERO']=='fêmea'),['GÊNERO']]='canino_f'
carioca_df.loc[(carioca_df['ESPÉCIE']=='canino') & (carioca_df['GÊNERO']=='gata'),['GÊNERO']]='canino_f'
#felinos
carioca_df.loc[(carioca_df['ESPÉCIE']=='felino') & (carioca_df['GÊNERO']=='macho'),['GÊNERO']]='felino_m'
carioca_df.loc[(carioca_df['ESPÉCIE']=='felino') & (carioca_df['GÊNERO']=='femea'),['GÊNERO']]='felino_f'
carioca_df.loc[(carioca_df['ESPÉCIE']=='felino') & (carioca_df['GÊNERO']=='fêmea'),['GÊNERO']]='felino_f'
carioca_df.loc[(carioca_df['ESPÉCIE']=='felino') & (carioca_df['GÊNERO']=='gata'),['GÊNERO']]='felino_f'

In [153]:
carioca_df['GÊNERO'].unique()

array(['canino_f', 'felino_f', 'canino_m', 'felino_m'], dtype=object)

### Formatação do atributo STATUS/ATENDIMENTO

In [154]:
carioca_df['STATUS/ATENDIMENTO'].unique()

array([nan, 'CIRURGIA  REALIZADA ', 'CIRURGIA REALIZADA ',
       'CIRURGIA REALIZADA', 'RECUSA ', 'DESISTÊNCIA ', 'FALTA', 'RECUSA',
       'FALTA ', 'CIRURGIA REALIAZADA ', 'CIEURGIA REALIZADA ',
       'Realizada ', 'FALTO', 'CIRURGIA RELIZADA', 'CIRURGIA RECUSADA',
       'CIRURGIA RECUSADA ', 'endereço não encontrado',
       'CIRURGIA REALIZADO', 'FATOU', ' CIRURGIA REALIZADA',
       'CIRURGIA NÃO REALIZADA ', 'CIRURGIA NÃO REALIZADA',
       'CIRURGIA RECUSADO', 'Desistência ', 'CIRURIGA REALIZADA ',
       'CIRURGIA REA', 'NAO REALIZADA '], dtype=object)

In [168]:
carioca_df['STATUS/ATENDIMENTO'] = carioca_df['STATUS/ATENDIMENTO'].str.casefold()
carioca_df['STATUS/ATENDIMENTO'] = carioca_df['STATUS/ATENDIMENTO'].str.rstrip()
carioca_df['STATUS/ATENDIMENTO'] = carioca_df['STATUS/ATENDIMENTO'].str.lstrip()

In [175]:
carioca_df['STATUS/ATENDIMENTO']=carioca_df['STATUS/ATENDIMENTO'].fillna('cirurg_n_realizada')

In [205]:
# Variações de CIRURGIA NÃO REALIZADA
carioca_df.loc[(carioca_df['STATUS/ATENDIMENTO']=='cirurgia não realizada'),['STATUS/ATENDIMENTO']]='cirurg_n_realizada'
carioca_df.loc[(carioca_df['STATUS/ATENDIMENTO']=='recusa'),['STATUS/ATENDIMENTO']]='cirurg_n_realizada'
carioca_df.loc[(carioca_df['STATUS/ATENDIMENTO']=='desistencia'),['STATUS/ATENDIMENTO']]='cirurg_n_realizada'
carioca_df.loc[(carioca_df['STATUS/ATENDIMENTO']=='falta'),['STATUS/ATENDIMENTO']]='cirurg_n_realizada'
carioca_df.loc[(carioca_df['STATUS/ATENDIMENTO']=='falto'),['STATUS/ATENDIMENTO']]='cirurg_n_realizada'
carioca_df.loc[(carioca_df['STATUS/ATENDIMENTO']=='cirurgia recusada'),['STATUS/ATENDIMENTO']]='cirurg_n_realizada'
carioca_df.loc[(carioca_df['STATUS/ATENDIMENTO']=='cirurgia recusado'),['STATUS/ATENDIMENTO']]='cirurg_n_realizada'
carioca_df.loc[(carioca_df['STATUS/ATENDIMENTO']=='não realizada'),['STATUS/ATENDIMENTO']]='cirurg_n_realizada'
carioca_df.loc[(carioca_df['STATUS/ATENDIMENTO']=='nao realizada'),['STATUS/ATENDIMENTO']]='cirurg_n_realizada'
carioca_df.loc[(carioca_df['STATUS/ATENDIMENTO']=='fatou'),['STATUS/ATENDIMENTO']]='cirurg_n_realizada'
carioca_df.loc[(carioca_df['STATUS/ATENDIMENTO']=='desistência'),['STATUS/ATENDIMENTO']]='cirurg_n_realizada'
# Variações de CIRURGIA REALIZADA
carioca_df.loc[(carioca_df['STATUS/ATENDIMENTO']=='cirurgia realizada'),['STATUS/ATENDIMENTO']]='cirurg_realizada'
carioca_df.loc[(carioca_df['STATUS/ATENDIMENTO']=='cirurgia  realizada'),['STATUS/ATENDIMENTO']]='cirurg_realizada'
carioca_df.loc[(carioca_df['STATUS/ATENDIMENTO']=='cirurgia realiazada'),['STATUS/ATENDIMENTO']]='cirurg_realizada'
carioca_df.loc[(carioca_df['STATUS/ATENDIMENTO']=='cieurgia realizada'),['STATUS/ATENDIMENTO']]='cirurg_realizada'
carioca_df.loc[(carioca_df['STATUS/ATENDIMENTO']=='realizada'),['STATUS/ATENDIMENTO']]='cirurg_realizada'
carioca_df.loc[(carioca_df['STATUS/ATENDIMENTO']=='cirurgia relizada'),['STATUS/ATENDIMENTO']]='cirurg_realizada'
carioca_df.loc[(carioca_df['STATUS/ATENDIMENTO']=='cirurgia realizada'),['STATUS/ATENDIMENTO']]='cirurg_realizada'
carioca_df.loc[(carioca_df['STATUS/ATENDIMENTO']=='cirurgia realizado'),['STATUS/ATENDIMENTO']]='cirurg_realizada'
carioca_df.loc[(carioca_df['STATUS/ATENDIMENTO']=='ciruriga realizada'),['STATUS/ATENDIMENTO']]='cirurg_realizada'
carioca_df.loc[(carioca_df['STATUS/ATENDIMENTO']=='cirurgia rea'),['STATUS/ATENDIMENTO']]='cirurg_realizada'

In [206]:
carioca_df['STATUS/ATENDIMENTO'].unique()

array(['cirurg_n_realizada', 'cirurg_realizada',
       'endereço não encontrado'], dtype=object)

## Retirar o atributo ESPÉCIE e criar os atributos a partir da função dummies

In [189]:
carioca_df = carioca_df.drop(['ESPÉCIE'], axis=1)

In [219]:
carioca_df = carioca_df.dropna()

#### Criação dos atributos a partir do GÊNERO e retirando o mesmo original

In [197]:
carioca_df = carioca_df.join(get_dummies(carioca_df['GÊNERO'], dtype=int))

In [199]:
carioca_df = carioca_df.drop(['GÊNERO'], axis=1)

#### Criação dos atributos a partir do STATUS/ATENDIMENTO e retirando o mesmo original

In [209]:
carioca_df = carioca_df.join(get_dummies(carioca_df['STATUS/ATENDIMENTO'], dtype=int))

In [212]:
carioca_df = carioca_df.drop(['STATUS/ATENDIMENTO'], axis=1)

#### Criação dos atributos a partir de meses e retirando o mesmo original

In [221]:
carioca_df = carioca_df.join(get_dummies(carioca_df['meses'], dtype=int))

In [223]:
carioca_df = carioca_df.drop(['meses'], axis=1)

In [224]:
carioca_df.tail()

,Carimbo de data/hora,trailer,canino_f,canino_m,felino_f,felino_m,cirurg_n_realizada,cirurg_realizada,endereço não encontrado,April,February,July,June,March,May
1780,2024-06-03,carioca,0,0,1,0,0,1,0,0,0,0,1,0,0
1781,2024-06-03,carioca,0,1,0,0,1,0,0,0,0,0,1,0,0
1782,2024-06-03,carioca,0,0,0,1,0,1,0,0,0,0,1,0,0
1783,2024-06-03,carioca,0,0,1,0,0,1,0,0,0,0,1,0,0
1784,2024-06-03,carioca,0,0,1,0,0,1,0,0,0,0,1,0,0

In [225]:
carioca_df.columns

Index(['Carimbo de data/hora', 'trailer', 'canino_f', 'canino_m', 'felino_f',
       'felino_m', 'cirurg_n_realizada', 'cirurg_realizada',
       'endereço não encontrado', 'April', 'February', 'July', 'June', 'March',
       'May'],
      dtype='object')

In [236]:
tbl_carioca = carioca_df[['trailer', 'canino_f', 'canino_m', 'felino_f',
       'felino_m', 'cirurg_n_realizada', 'cirurg_realizada',
       'endereço não encontrado', 'February', 'March', 'April',
       'May', 'June', 'July']]

## Tabela de contingência com o total de cada um dos atributos da fase 01

In [ ]:
relat_fs01 = tbl_carioca.groupby(by=['trailer']).sum()

In [240]:
relat_fs01['total'] = relat_fs01['cirurg_n_realizada']+relat_fs01['cirurg_realizada']+relat_fs01['endereço não encontrado']

In [242]:
relat_fs01.T.rename_axis('variaveis')

trailer                  carioca
variaveis
canino_f                     576
canino_m                     406
felino_f                     467
felino_m                     335
cirurg_n_realizada           665
cirurg_realizada            1118
endereço não encontrado        1
February                     266
March                        588
April                        650
May                          255
June                          24
July                           1
total                       1784