# Relatório com resumo dos resultados da fase 01 do projeto, no intervalo 

### fevereiro a julho

In [221]:
import numpy as np
from datetime import datetime, date, timedelta
import datetime
import string
import time
from csv import reader
from pandas import DataFrame, read_csv,unique, to_datetime, Series, get_dummies, concat, ExcelWriter
import matplotlib.pyplot as plt
from os import getcwd, path
from convert import converte_data,datetime,formata,minuscula
import pivottablejs
import openpyxl

#### Criação das funções que serão usadas nas três bases de dados.

As Funções precisam automatizar as tarefas:

1. formatar a data do atributo 'Carimbo de data/hora' para o formato que o python utiliza
2. juntar os atributos 'especie' e 'genero'
3. criar o atributo mês
4. criar o atributo do indicador de eficácia do projeto
5. formatar o null do atributo 'status/atendimento' para obter informações dos pets que não realizaram a cirurgia.
6. não lembro

# Juntando as Bases prontas:

### Genero

In [ ]:
carioca_genero = relat_fs01[['canino_f','canino_m','felino_f','felino_m']]
carioca_genero['total'] = carioca_genero.sum(axis=1)

In [100]:
carioca_genero

         canino_f  canino_m  felino_f  felino_m  total
trailer
carioca       576       406       467       335   1784

In [ ]:
rio_2_genero = tbl_rio_2[['canino_f','canino_m','felino_f','felino_m']]
rio_2_genero['total'] = rio_2_genero.sum(axis=1)

In [104]:
rio_2_genero

         canino_f  canino_m  felino_f  felino_m  total
trailer
rio_2         105        82        89        95    371

In [ ]:
rio_genero = tbl_rio[['canino_f','canino_m','felino_f','felino_m']]
rio_genero['total'] = rio_genero.sum(axis=1)

In [151]:
rio_genero

         canino_f  canino_m  felino_f  felino_m  total
trailer
rio           360       305       359       413   1437

In [169]:
frames_genero = [carioca_genero,rio_genero,rio_2_genero]

In [170]:
genero = concat(frames_genero)

In [171]:
genero.loc['total'] = list(genero.sum(axis=0))

In [172]:
genero

         canino_f  canino_m  felino_f  felino_m  total
trailer
carioca       576       406       467       335   1784
rio           360       305       359       413   1437
rio_2         105        82        89        95    371
total        1041       793       915       843   3592

# STATUS

In [ ]:
carioca_status = relat_fs01[['cirurg_realizada','cirurg_n_realizada','endereço não encontrado']]
carioca_status['total'] = carioca_status.sum(axis=1)

In [181]:
carioca_status

         cirurg_realizada  cirurg_n_realizada  endereço não encontrado  total
trailer
carioca              1118                 665                        1   1784

In [ ]:
rio_status = tbl_rio[['cirurg_realizada','cirurg_n_realizada','chipagem']]
rio_status['total'] = rio_status.sum(axis=1)

In [180]:
rio_status

         cirurg_realizada  cirurg_n_realizada  chipagem  total
trailer
rio                   852                 548        37   1437

In [ ]:
rio_2_status = tbl_rio_2[['cirurg_realizada','cirurg_n_realizada']]
rio_2_status['total'] = rio_2_status.sum(axis=1)

In [183]:
rio_2_status

         cirurg_realizada  cirurg_n_realizada  total
trailer
rio_2                 288                  83    371

In [184]:
frames_status = [carioca_status,rio_status,rio_2_status]

In [185]:
status = concat(frames_status)

In [187]:
status = status[['cirurg_realizada','cirurg_n_realizada','endereço não encontrado','chipagem','total']]

In [ ]:
status.loc['total'] = list(status.sum(axis=0))

In [191]:
status

,cirurg_realizada,cirurg_n_realizada,endereço não encontrado,chipagem,total
trailer,,,,,
carioca,1118.0,665.0,1.0,NaN,1784.0
rio,852.0,548.0,NaN,37.0,1437.0
rio_2,288.0,83.0,NaN,NaN,371.0
total,2258.0,1296.0,1.0,37.0,3592.0

# Meses

In [ ]:
carioca_meses = relat_fs01[['February', 'March','April', 'May', 'June', 'July']]
carioca_meses['total'] = carioca_meses.sum(axis=1)

In [ ]:
carioca_meses['inicio_fase-01'] = dia_inicio_carioca
carioca_meses['fim_fase-01'] = ultimo_dia_carioca

In [196]:
carioca_meses

,February,March,April,May,June,July,total,inicio_fase-01,fim_fase-01
trailer,,,,,,,,,
carioca,266,588,650,255,24,1,1784,2024-02-25,2024-07-01

In [ ]:
rio_meses = tbl_rio[['February', 'March', 'April', 'May']]
rio_meses['total'] = rio_meses.sum(axis=1)

In [ ]:
rio_meses['inicio_fase-01'] = dia_inicio_rio
rio_meses['fim_fase-01'] = ultimo_dia_rio

In [201]:
rio_meses

         February  March  April  May  total inicio_fase-01 fim_fase-01
trailer
rio           370    399    372  296   1437     2024-02-18  2024-05-31

In [ ]:
rio_2_meses = tbl_rio_2[['March', 'April', 'May', 'June']]
rio_2_meses['total'] = rio_2_meses.sum(axis=1)

In [ ]:
rio_2_meses['inicio_fase-01'] = dia_inicio_rio_2
rio_2_meses['fim_fase-01'] = ultimo_dia_rio_2

In [206]:
rio_2_meses

         March  April  May  June  total inicio_fase-01 fim_fase-01
trailer
rio_2      145    176   48     2    371     2024-03-30  2027-06-07

In [207]:
rio_2_meses.loc[(rio_2_meses['fim_fase-01']=='2027-06-07'),['fim_fase-01']]='2024-06-07'

In [208]:
rio_2_meses

         March  April  May  June  total inicio_fase-01 fim_fase-01
trailer
rio_2      145    176   48     2    371     2024-03-30  2024-06-07

In [209]:
frames_meses = [carioca_meses, rio_meses, rio_2_meses]

In [210]:
meses = concat(frames_meses)

In [214]:
#criação da linha de totais
meses.loc[['total'],['inicio_fase-01','fim_fase-01']]= '-'

In [218]:
meses.loc['total'] = list(meses[['February', 'March','April', 'May', 'June', 'July','total']].sum(axis=0))+['-','-']

In [219]:
meses

,February,March,April,May,June,July,total,inicio_fase-01,fim_fase-01
trailer,,,,,,,,,
carioca,266.0,588,650,255,24.0,1.0,1784,2024-02-25 00:00:00,2024-07-01 00:00:00
rio,370.0,399,372,296,NaN,NaN,1437,2024-02-18 00:00:00,2024-05-31 00:00:00
rio_2,NaN,145,176,48,2.0,NaN,371,2024-03-30 00:00:00,2024-06-07 00:00:00
total,636.0,1132,1198,599,26.0,1.0,3592,-,-

## Gerar arquivo dos quadros de dados conforme solicitado.

In [222]:
with ExcelWriter('relatorio_fase01_acaocidada.xlsx') as abas:
    status.to_excel(abas, sheet_name='resultados_atendimentos_fase01')
    genero.to_excel(abas, sheet_name='resultados_generos_fase01')
    meses.to_excel(abas,sheet_name='resultados_meses_fase01')

# Relatório Fase 01 - CARIOCA

### Arquivos localmente do projeto

In [4]:
caminhocarioca = path.abspath('AGENDAMENTO_CARIOCA.csv')
print (caminhocarioca)

/home/lino/Área de Trabalho/acaocidada/note_acaocidada/note_fs01/AGENDAMENTO_CARIOCA.csv

### Utlizando a biblioteca original do python para uma variável da aplicação

In [5]:
with open(caminhocarioca, mode='r') as csv:
    csv_carioca = reader(csv, delimiter=',')

### Utilizando a biblioteca do PANDAS p/ uma variável local da aplicação, escolheremos essa opção.

In [56]:
carioca_csv_pd = read_csv('AGENDAMENTO_CARIOCA.csv')

### Baixando as bases para dentro de uma variável

In [57]:
carioca_df = DataFrame(carioca_csv_pd)
print (carioca_df.columns)

Index(['Carimbo de data/hora', 'LOCAL', 'NOME COMPLETO', 'Unnamed: 3',
       'BAIRRO', 'CEP', 'DATA DE NASCIMENTO', 'TELEFONE', 'EMAIL',
       'NOME DO ANIMA', 'NOME DO ANIMAL', 'ESPÉCIE', 'GÊNERO',
       'STATUS/ATENDIMENTO', 'MOTIVO', 'ENDEREÇO COMPLETO', 'CPF',
       'Como soube do Projeto de Castração de cães e gatos?',
       'Como soube do Projeto de Castração de cães e gatos?.1', 'Unnamed: 19',
       'Unnamed: 20', 'LOCAL.1', 'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24'],
      dtype='object')

In [58]:
atributos = ['Carimbo de data/hora', 'ESPÉCIE', 'GÊNERO', 'STATUS/ATENDIMENTO']

In [59]:
carioca_df = carioca_df[atributos]

In [60]:
carioca_df['trailer'] = 'carioca'

### Formatação da Data para adequação das funções internas do Python

In [61]:
carioca_df['Carimbo de data/hora']=carioca_df['Carimbo de data/hora'].str.split(' ', expand=True)[0]

In [62]:
carioca_df['Carimbo de data/hora']=DataFrame(to_datetime(list(carioca_df['Carimbo de data/hora']), dayfirst=True))

In [63]:
carioca_df['meses']= Series(carioca_df['Carimbo de data/hora']).dt.month_name()

### Formatação dos Atributos ESPÉCIE e GÊNERO por falta de governança e também para informar de maneira direta as estatísticas descritivas solicitadas da primeira fase do projeto.

In [64]:
carioca_df['ESPÉCIE'] = carioca_df['ESPÉCIE'].str.casefold()

In [65]:
carioca_df['GÊNERO']=carioca_df['GÊNERO'].str.casefold()
carioca_df['GÊNERO']=carioca_df['GÊNERO'].str.rstrip()

In [66]:
carioca_df['GÊNERO'].unique()

array(['femea', 'macho', 'fêmea', 'gata'], dtype=object)

In [67]:
#Caninos
carioca_df.loc[(carioca_df['ESPÉCIE']=='canino') & (carioca_df['GÊNERO']=='macho'),['GÊNERO']]='canino_m'
carioca_df.loc[(carioca_df['ESPÉCIE']=='canino') & (carioca_df['GÊNERO']=='femea'),['GÊNERO']]='canino_f'
carioca_df.loc[(carioca_df['ESPÉCIE']=='canino') & (carioca_df['GÊNERO']=='fêmea'),['GÊNERO']]='canino_f'
carioca_df.loc[(carioca_df['ESPÉCIE']=='canino') & (carioca_df['GÊNERO']=='gata'),['GÊNERO']]='canino_f'
#felinos
carioca_df.loc[(carioca_df['ESPÉCIE']=='felino') & (carioca_df['GÊNERO']=='macho'),['GÊNERO']]='felino_m'
carioca_df.loc[(carioca_df['ESPÉCIE']=='felino') & (carioca_df['GÊNERO']=='femea'),['GÊNERO']]='felino_f'
carioca_df.loc[(carioca_df['ESPÉCIE']=='felino') & (carioca_df['GÊNERO']=='fêmea'),['GÊNERO']]='felino_f'
carioca_df.loc[(carioca_df['ESPÉCIE']=='felino') & (carioca_df['GÊNERO']=='gata'),['GÊNERO']]='felino_f'

In [68]:
carioca_df['GÊNERO'].unique()

array(['canino_f', 'felino_f', 'canino_m', 'felino_m'], dtype=object)

### Formatação do atributo STATUS/ATENDIMENTO

In [69]:
carioca_df['STATUS/ATENDIMENTO'].unique()

array([nan, 'CIRURGIA  REALIZADA ', 'CIRURGIA REALIZADA ',
       'CIRURGIA REALIZADA', 'RECUSA ', 'DESISTÊNCIA ', 'FALTA', 'RECUSA',
       'FALTA ', 'CIRURGIA REALIAZADA ', 'CIEURGIA REALIZADA ',
       'Realizada ', 'FALTO', 'CIRURGIA RELIZADA', 'CIRURGIA RECUSADA',
       'CIRURGIA RECUSADA ', 'endereço não encontrado',
       'CIRURGIA REALIZADO', 'FATOU', ' CIRURGIA REALIZADA',
       'CIRURGIA NÃO REALIZADA ', 'CIRURGIA NÃO REALIZADA',
       'CIRURGIA RECUSADO', 'Desistência ', 'CIRURIGA REALIZADA ',
       'CIRURGIA REA', 'NAO REALIZADA '], dtype=object)

In [70]:
carioca_df['STATUS/ATENDIMENTO'] = carioca_df['STATUS/ATENDIMENTO'].str.casefold()
carioca_df['STATUS/ATENDIMENTO'] = carioca_df['STATUS/ATENDIMENTO'].str.rstrip()
carioca_df['STATUS/ATENDIMENTO'] = carioca_df['STATUS/ATENDIMENTO'].str.lstrip()

In [71]:
carioca_df['STATUS/ATENDIMENTO']=carioca_df['STATUS/ATENDIMENTO'].fillna('cirurg_n_realizada')

In [72]:
# Variações de CIRURGIA NÃO REALIZADA
carioca_df.loc[(carioca_df['STATUS/ATENDIMENTO']=='cirurgia não realizada'),['STATUS/ATENDIMENTO']]='cirurg_n_realizada'
carioca_df.loc[(carioca_df['STATUS/ATENDIMENTO']=='recusa'),['STATUS/ATENDIMENTO']]='cirurg_n_realizada'
carioca_df.loc[(carioca_df['STATUS/ATENDIMENTO']=='desistencia'),['STATUS/ATENDIMENTO']]='cirurg_n_realizada'
carioca_df.loc[(carioca_df['STATUS/ATENDIMENTO']=='falta'),['STATUS/ATENDIMENTO']]='cirurg_n_realizada'
carioca_df.loc[(carioca_df['STATUS/ATENDIMENTO']=='falto'),['STATUS/ATENDIMENTO']]='cirurg_n_realizada'
carioca_df.loc[(carioca_df['STATUS/ATENDIMENTO']=='cirurgia recusada'),['STATUS/ATENDIMENTO']]='cirurg_n_realizada'
carioca_df.loc[(carioca_df['STATUS/ATENDIMENTO']=='cirurgia recusado'),['STATUS/ATENDIMENTO']]='cirurg_n_realizada'
carioca_df.loc[(carioca_df['STATUS/ATENDIMENTO']=='não realizada'),['STATUS/ATENDIMENTO']]='cirurg_n_realizada'
carioca_df.loc[(carioca_df['STATUS/ATENDIMENTO']=='nao realizada'),['STATUS/ATENDIMENTO']]='cirurg_n_realizada'
carioca_df.loc[(carioca_df['STATUS/ATENDIMENTO']=='fatou'),['STATUS/ATENDIMENTO']]='cirurg_n_realizada'
carioca_df.loc[(carioca_df['STATUS/ATENDIMENTO']=='desistência'),['STATUS/ATENDIMENTO']]='cirurg_n_realizada'
# Variações de CIRURGIA REALIZADA
carioca_df.loc[(carioca_df['STATUS/ATENDIMENTO']=='cirurgia realizada'),['STATUS/ATENDIMENTO']]='cirurg_realizada'
carioca_df.loc[(carioca_df['STATUS/ATENDIMENTO']=='cirurgia  realizada'),['STATUS/ATENDIMENTO']]='cirurg_realizada'
carioca_df.loc[(carioca_df['STATUS/ATENDIMENTO']=='cirurgia realiazada'),['STATUS/ATENDIMENTO']]='cirurg_realizada'
carioca_df.loc[(carioca_df['STATUS/ATENDIMENTO']=='cieurgia realizada'),['STATUS/ATENDIMENTO']]='cirurg_realizada'
carioca_df.loc[(carioca_df['STATUS/ATENDIMENTO']=='realizada'),['STATUS/ATENDIMENTO']]='cirurg_realizada'
carioca_df.loc[(carioca_df['STATUS/ATENDIMENTO']=='cirurgia relizada'),['STATUS/ATENDIMENTO']]='cirurg_realizada'
carioca_df.loc[(carioca_df['STATUS/ATENDIMENTO']=='cirurgia realizada'),['STATUS/ATENDIMENTO']]='cirurg_realizada'
carioca_df.loc[(carioca_df['STATUS/ATENDIMENTO']=='cirurgia realizado'),['STATUS/ATENDIMENTO']]='cirurg_realizada'
carioca_df.loc[(carioca_df['STATUS/ATENDIMENTO']=='ciruriga realizada'),['STATUS/ATENDIMENTO']]='cirurg_realizada'
carioca_df.loc[(carioca_df['STATUS/ATENDIMENTO']=='cirurgia rea'),['STATUS/ATENDIMENTO']]='cirurg_realizada'

In [73]:
carioca_df['STATUS/ATENDIMENTO'].unique()

array(['cirurg_n_realizada', 'cirurg_realizada',
       'endereço não encontrado'], dtype=object)

## Retirar o atributo ESPÉCIE e criar os atributos a partir da função dummies

In [74]:
carioca_df = carioca_df.drop(['ESPÉCIE'], axis=1)

In [75]:
carioca_df = carioca_df.dropna()

#### Criação dos atributos a partir do GÊNERO e retirando o mesmo original

In [76]:
carioca_df = carioca_df.join(get_dummies(carioca_df['GÊNERO'], dtype=int))

In [77]:
carioca_df = carioca_df.drop(['GÊNERO'], axis=1)

#### Criação dos atributos a partir do STATUS/ATENDIMENTO e retirando o mesmo original

In [78]:
carioca_df = carioca_df.join(get_dummies(carioca_df['STATUS/ATENDIMENTO'], dtype=int))

In [79]:
carioca_df = carioca_df.drop(['STATUS/ATENDIMENTO'], axis=1)

#### Criação dos atributos a partir de meses e retirando o mesmo original

In [80]:
carioca_df = carioca_df.join(get_dummies(carioca_df['meses'], dtype=int))

In [81]:
carioca_df = carioca_df.drop(['meses'], axis=1)

In [82]:
carioca_df.tail()

,Carimbo de data/hora,trailer,canino_f,canino_m,felino_f,felino_m,cirurg_n_realizada,cirurg_realizada,endereço não encontrado,April,February,July,June,March,May
1780,2024-06-03,carioca,0,0,1,0,0,1,0,0,0,0,1,0,0
1781,2024-06-03,carioca,0,1,0,0,1,0,0,0,0,0,1,0,0
1782,2024-06-03,carioca,0,0,0,1,0,1,0,0,0,0,1,0,0
1783,2024-06-03,carioca,0,0,1,0,0,1,0,0,0,0,1,0,0
1784,2024-06-03,carioca,0,0,1,0,0,1,0,0,0,0,1,0,0

### Ordenando a base de dados pela data

In [84]:
carioca_df.sort_values(by=['Carimbo de data/hora']).reset_index(drop=True)

,Carimbo de data/hora,trailer,canino_f,canino_m,felino_f,felino_m,cirurg_n_realizada,cirurg_realizada,endereço não encontrado,April,February,July,June,March,May
0,2024-02-25,carioca,1,0,0,0,1,0,0,0,1,0,0,0,0
1,2024-02-25,carioca,1,0,0,0,1,0,0,0,1,0,0,0,0
2,2024-02-25,carioca,0,0,1,0,0,1,0,0,1,0,0,0,0
3,2024-02-25,carioca,0,1,0,0,0,1,0,0,1,0,0,0,0
4,2024-02-25,carioca,0,1,0,0,1,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1779,2024-06-03,carioca,0,0,0,1,0,1,0,0,0,0,1,0,0
1780,2024-06-03,carioca,0,0,1,0,0,1,0,0,0,0,1,0,0
1781,2024-06-03,carioca,0,0,1,0,0,1,0,0,0,0,1,0,0
1782,2024-06-03,carioca,0,0,1,0,0,1,0,0,0,0,1,0,0
1783,2024-07-01,carioca,0,1,0,0,1,0,0,0,0,1,0,0,0

In [85]:
dia_inicio_carioca = carioca_df['Carimbo de data/hora'].min()
ultimo_dia_carioca = carioca_df['Carimbo de data/hora'].max()
print (dia_inicio_carioca)
print (ultimo_dia_carioca)

2024-02-25 00:00:00
2024-07-01 00:00:00

In [86]:
carioca_df.columns

Index(['Carimbo de data/hora', 'trailer', 'canino_f', 'canino_m', 'felino_f',
       'felino_m', 'cirurg_n_realizada', 'cirurg_realizada',
       'endereço não encontrado', 'April', 'February', 'July', 'June', 'March',
       'May'],
      dtype='object')

In [87]:
tbl_carioca = carioca_df[['trailer', 'canino_f', 'canino_m', 'felino_f',
       'felino_m', 'cirurg_n_realizada', 'cirurg_realizada',
       'endereço não encontrado', 'February', 'March', 'April',
       'May', 'June', 'July']]

## Tabela de contingência com o total de cada um dos atributos da fase 01

In [88]:
relat_fs01 = tbl_carioca.groupby(by=['trailer']).sum()

In [90]:
relat_fs01['total'] = relat_fs01['cirurg_n_realizada']+relat_fs01['cirurg_realizada']+relat_fs01['endereço não encontrado']

In [91]:
relat_fs01

,canino_f,canino_m,felino_f,felino_m,cirurg_n_realizada,cirurg_realizada,endereço não encontrado,February,March,April,May,June,July,total
trailer,,,,,,,,,,,,,,
carioca,576,406,467,335,665,1118,1,266,588,650,255,24,1,1784

In [242]:
relat_fs01.T.rename_axis('variaveis')

trailer                  carioca
variaveis
canino_f                     576
canino_m                     406
felino_f                     467
felino_m                     335
cirurg_n_realizada           665
cirurg_realizada            1118
endereço não encontrado        1
February                     266
March                        588
April                        650
May                          255
June                          24
July                           1
total                       1784

# Relatório Fase 01 RIO

### atribuição da base a uma variavel chamada rio_csv_pd

In [105]:
rio_csv_pd = read_csv('AGENDAMENTO_RIO.csv')

### criação do quadro de dados (DataFrame) da variável RIO

In [106]:
rio_df = DataFrame(rio_csv_pd)
print (rio_df.columns)

Index(['Carimbo de data/hora', 'NOME COMPLETO', 'ENDEREÇO COMPLETO', 'BAIRRO',
       'CEP', 'DATA DE NASCIMENTO', 'TELEFONE', 'EMAIL', 'NOME DO ANIMAL',
       'CPF', 'ESPECIE', 'GENERO', 'STATUS/ATENDIMENTOS', 'MOTIVO DA RECUSA',
       'ÓBITO/INTERCORRÊNCIA', 'LOCAL', 'NOME DO ANIMAL.1', 'RAÇA',
       'Nº DO CHIP', 'ENDEREÇO', 'Unnamed: 20', 'Unnamed: 21'],
      dtype='object')

#### Criação do quadro de dados de trabalho - subconjunto do conjunto original

In [107]:
atributos_rio = ['Carimbo de data/hora', 'ESPECIE', 'GENERO', 'STATUS/ATENDIMENTOS']

In [108]:
rio_df = rio_df[atributos_rio]

In [109]:
rio_df['trailer']= 'rio'

In [110]:
rio_df.head(2)

  Carimbo de data/hora ESPECIE GENERO STATUS/ATENDIMENTOS trailer
0  18/02/2024 20:23:21  CANINO  MACHO              RECUSA     rio
1  19/02/2024 15:28:33  CANINO  MACHO           REALIZADA     rio

#### Formatação do atributo Carimbo de data para adequação da data as funções do python

In [111]:
rio_df.head(1)

  Carimbo de data/hora ESPECIE GENERO STATUS/ATENDIMENTOS trailer
0  18/02/2024 20:23:21  CANINO  MACHO              RECUSA     rio

In [112]:
rio_df['Carimbo de data/hora']=rio_df['Carimbo de data/hora'].str.split(' ', expand=True)[0]

In [113]:
rio_df['Carimbo de data/hora']=DataFrame(to_datetime(list(rio_df['Carimbo de data/hora']), dayfirst=True))

#### Criação do atributo dos meses

In [114]:
rio_df.head(1)

  Carimbo de data/hora ESPECIE GENERO STATUS/ATENDIMENTOS trailer
0           2024-02-18  CANINO  MACHO              RECUSA     rio

In [115]:
rio_df['meses']= Series(rio_df['Carimbo de data/hora']).dt.month_name()

#### Formatação do Atributo ESPECIE para governança dos dados

In [116]:
rio_df.head(1)

  Carimbo de data/hora ESPECIE GENERO STATUS/ATENDIMENTOS trailer     meses
0           2024-02-18  CANINO  MACHO              RECUSA     rio  February

In [117]:
rio_df['ESPECIE'].unique()

array(['CANINO', 'FELINO', nan], dtype=object)

In [118]:
rio_df['ESPECIE'] = rio_df['ESPECIE'].str.casefold()
rio_df['ESPECIE'] = rio_df['ESPECIE'].str.strip()

In [119]:
rio_df['ESPECIE'].isna().value_counts()

ESPECIE
False    1441
True       11
Name: count, dtype: int64

In [120]:
rio_df = rio_df.dropna()
rio_df['ESPECIE'].isna().value_counts()

ESPECIE
False    1437
Name: count, dtype: int64

In [121]:
rio_df['ESPECIE'].unique()

array(['canino', 'felino'], dtype=object)

#### Formatação do Atributo GENERO para governança dos dados

In [122]:
rio_df['GENERO'].unique()

array(['MACHO', 'FEMEA'], dtype=object)

In [123]:
rio_df['GENERO'] = rio_df['GENERO'].str.casefold()

In [124]:
rio_df['GENERO'].unique()

array(['macho', 'femea'], dtype=object)

### Formatação do Atributo STATUS/ATENDIMENTOS pra govenança de dados

In [125]:
rio_df['STATUS/ATENDIMENTOS'].unique()

array(['RECUSA', 'REALIZADA', 'CIRURGIA REALIZADA', 'FALTA',
       'CIRURGIA REALIZADA ', 'CHIPAGEM', 'RECUSA '], dtype=object)

In [126]:
rio_df['STATUS/ATENDIMENTOS'] = rio_df['STATUS/ATENDIMENTOS'].str.casefold()
rio_df['STATUS/ATENDIMENTOS'] = rio_df['STATUS/ATENDIMENTOS'].str.strip()

In [127]:
rio_df['STATUS/ATENDIMENTOS'].unique()

array(['recusa', 'realizada', 'cirurgia realizada', 'falta', 'chipagem'],
      dtype=object)

In [128]:
rio_df.head(2)

  Carimbo de data/hora ESPECIE GENERO STATUS/ATENDIMENTOS trailer     meses
0           2024-02-18  canino  macho              recusa     rio  February
1           2024-02-19  canino  macho           realizada     rio  February

### Formatar os atributos para que se transformem nas próximas etapas em variáveis de trabalho.

In [129]:
print(rio_df['ESPECIE'].unique())
print(rio_df['GENERO'].unique())
print(rio_df['STATUS/ATENDIMENTOS'].unique())
print(rio_df['meses'].unique())

['canino' 'felino']
['macho' 'femea']
['recusa' 'realizada' 'cirurgia realizada' 'falta' 'chipagem']
['February' 'March' 'April' 'May']

#### Juntando GENERO e ESPECIE em GENERO

In [130]:
# Caninos
rio_df.loc[(rio_df['ESPECIE']=='canino') & (rio_df['GENERO']=='macho'),['GENERO']]='canino_m'
rio_df.loc[(rio_df['ESPECIE']=='canino') & (rio_df['GENERO']=='femea'),['GENERO']]='canino_f'
# Felinos
rio_df.loc[(rio_df['ESPECIE']=='felino') & (rio_df['GENERO']=='macho'),['GENERO']]='felino_m'
rio_df.loc[(rio_df['ESPECIE']=='felino') & (rio_df['GENERO']=='femea'),['GENERO']]='felino_f'

#### Ajustando a Governança do atributo STATUS para que se transformem em variáveis nas próximas etapas

In [131]:
# Cirurgia não realizada
rio_df.loc[(rio_df['STATUS/ATENDIMENTOS']=='recusa'),['STATUS/ATENDIMENTOS']]='cirurg_n_realizada'
rio_df.loc[(rio_df['STATUS/ATENDIMENTOS']=='falta'),['STATUS/ATENDIMENTOS']]='cirurg_n_realizada'
# Cirurgia realizada
rio_df.loc[(rio_df['STATUS/ATENDIMENTOS']=='realizada'),['STATUS/ATENDIMENTOS']]='cirurg_realizada'
rio_df.loc[(rio_df['STATUS/ATENDIMENTOS']=='cirurgia realizada'),['STATUS/ATENDIMENTOS']]='cirurg_realizada'

In [132]:
rio_df.head()

  Carimbo de data/hora ESPECIE    GENERO STATUS/ATENDIMENTOS trailer     meses
0           2024-02-18  canino  canino_m  cirurg_n_realizada     rio  February
1           2024-02-19  canino  canino_m    cirurg_realizada     rio  February
2           2024-02-19  felino  felino_f  cirurg_n_realizada     rio  February
3           2024-02-19  canino  canino_f    cirurg_realizada     rio  February
4           2024-02-19  felino  felino_f    cirurg_realizada     rio  February

### Criação das variáveis de trabalho

In [133]:
rio_df = rio_df.join(get_dummies(rio_df['GENERO'],dtype=int))

In [134]:
rio_df = rio_df.join(get_dummies(rio_df['STATUS/ATENDIMENTOS'],dtype=int))

In [135]:
rio_df = rio_df.join(get_dummies(rio_df['meses'],dtype=int))

In [136]:
rio_df.columns

Index(['Carimbo de data/hora', 'ESPECIE', 'GENERO', 'STATUS/ATENDIMENTOS',
       'trailer', 'meses', 'canino_f', 'canino_m', 'felino_f', 'felino_m',
       'chipagem', 'cirurg_n_realizada', 'cirurg_realizada', 'April',
       'February', 'March', 'May'],
      dtype='object')

In [140]:
rio_df = rio_df.sort_values(by=['Carimbo de data/hora']).reset_index(drop=True)

In [141]:
dia_inicio_rio = rio_df['Carimbo de data/hora'].min()
ultimo_dia_rio = rio_df['Carimbo de data/hora'].max()
print (dia_inicio_rio)
print (ultimo_dia_rio)

2024-02-18 00:00:00
2024-05-31 00:00:00

#### Retirada dos atributos que são redundantes ou não serão analisados

In [142]:
rio_df = rio_df.drop(['Carimbo de data/hora', 'ESPECIE', 'GENERO', 'STATUS/ATENDIMENTOS','meses'],axis=1)

In [143]:
rio_df.columns

Index(['trailer', 'canino_f', 'canino_m', 'felino_f', 'felino_m', 'chipagem',
       'cirurg_n_realizada', 'cirurg_realizada', 'April', 'February', 'March',
       'May'],
      dtype='object')

In [144]:
rio_df = rio_df[['trailer', 'canino_f', 'canino_m', 'felino_f', 'felino_m', 'chipagem',
       'cirurg_n_realizada', 'cirurg_realizada', 'February', 'March', 'April','May']]

In [145]:
rio_df.tail()

,trailer,canino_f,canino_m,felino_f,felino_m,chipagem,cirurg_n_realizada,cirurg_realizada,February,March,April,May
1432,rio,0,1,0,0,0,0,1,0,0,0,1
1433,rio,0,1,0,0,0,1,0,0,0,0,1
1434,rio,0,0,0,1,0,0,1,0,0,0,1
1435,rio,0,0,0,1,0,1,0,0,0,0,1
1436,rio,0,0,0,1,0,0,1,0,0,0,1

# Construção da Tabela de Contingência RIO

In [146]:
tbl_rio = rio_df.groupby(by=['trailer']).sum()

In [147]:
tbl_rio['total'] = tbl_rio['chipagem']+tbl_rio['cirurg_n_realizada']+tbl_rio['cirurg_realizada']

In [148]:
tbl_rio

,canino_f,canino_m,felino_f,felino_m,chipagem,cirurg_n_realizada,cirurg_realizada,February,March,April,May,total
trailer,,,,,,,,,,,,
rio,360,305,359,413,37,548,852,370,399,372,296,1437

In [297]:
tbl_rio.T.rename_axis('variaveis')

trailer              rio
variaveis
canino_f             360
canino_m             305
felino_f             359
felino_m             413
chipagem              37
cirurg_n_realizada   548
cirurg_realizada     852
February             370
March                399
April                372
May                  296
total               1437

# Relatório Fase 01 - RIO 02

### Atribuição da Base a uma variável chamada "rio_2_csv_pd"

In [2]:
rio_2_csv_pd = read_csv('AGENDAMENTO_RIO _2.csv')

### Criação do Quadro de dados (DataFrame) da Base Rio 02

In [4]:
rio_2_df = DataFrame(rio_2_csv_pd)
print (rio_2_df.columns)

Index(['Carimbo de data/hora', 'LOCAL', 'NOME COMPLETO', 'ENDEREÇO COMPLETO',
       'BAIRRO', 'CEP', 'DATA DE NASCIMENTO', 'TELEFONE', 'EMAIL', 'CPF',
       'NOME DO ANIMAL', 'ESPÉCIE', 'GÊNERO', 'STATUS/ATENDIMENTOS',
       'MOTIVO DA RECUSA', 'ÓBITO/INTERCORRENCIA'],
      dtype='object')

#### Criação do quadro de dados de trabalho - subconjunto do conjunto original

In [5]:
atributos_rio_2 = ['Carimbo de data/hora', 'ESPÉCIE', 'GÊNERO', 'STATUS/ATENDIMENTOS']

In [6]:
rio_2_df = rio_2_df[atributos_rio_2]

In [ ]:
rio_2_df['trailer'] = 'rio_2'

In [8]:
rio_2_df.head(2)

  Carimbo de data/hora ESPÉCIE GÊNERO STATUS/ATENDIMENTOS trailer
0  07/06/2024 12:13:42  FELINO  FÊMEA  CIRURGIA REALIZADA   rio_2
1  07/06/2027 11:35:58  FELINO  MACHO  CIRURGIA REALIZADA   rio_2

### Formatação do atributo Carimbo de data para adequação da data as funções do python

In [15]:
rio_2_df.head(2)

  Carimbo de data/hora ESPÉCIE GÊNERO STATUS/ATENDIMENTOS trailer meses
0           2024-06-07  FELINO  FÊMEA  CIRURGIA REALIZADA   rio_2  June
1           2027-06-07  FELINO  MACHO  CIRURGIA REALIZADA   rio_2  June

In [ ]:
rio_2_df['Carimbo de data/hora'] = rio_2_df['Carimbo de data/hora'].str.split(' ', expand=True)[0]

In [ ]:
rio_2_df['Carimbo de data/hora'] = DataFrame(to_datetime(list(rio_2_df['Carimbo de data/hora']), dayfirst=True))

#### Criação do atributo dos meses

In [14]:
rio_2_df['meses'] = Series(rio_2_df['Carimbo de data/hora']).dt.month_name()

### Formatação do atributo ESPÉCIE para governança de dados

In [19]:
rio_2_df.head(2)

  Carimbo de data/hora ESPÉCIE GÊNERO STATUS/ATENDIMENTOS trailer meses
0           2024-06-07  felino  FÊMEA  CIRURGIA REALIZADA   rio_2  June
1           2027-06-07  felino  MACHO  CIRURGIA REALIZADA   rio_2  June

In [20]:
rio_2_df['ESPÉCIE'].unique()

array(['felino', 'canino', nan], dtype=object)

In [18]:
rio_2_df['ESPÉCIE'] = rio_2_df['ESPÉCIE'].str.casefold()
rio_2_df['ESPÉCIE'] = rio_2_df['ESPÉCIE'].str.strip()

In [21]:
rio_2_df['ESPÉCIE'].isna().value_counts()

ESPÉCIE
False    604
True       3
Name: count, dtype: int64

In [22]:
rio_2_df = rio_2_df.dropna()
rio_2_df['ESPÉCIE'].isna().value_counts()

ESPÉCIE
False    371
Name: count, dtype: int64

### Formatação do Atributo GENERO para governança dos dados

In [26]:
rio_2_df.head(2)

  Carimbo de data/hora ESPÉCIE GÊNERO STATUS/ATENDIMENTOS trailer meses
0           2024-06-07  felino  fêmea  CIRURGIA REALIZADA   rio_2  June
1           2027-06-07  felino  macho  CIRURGIA REALIZADA   rio_2  June

In [25]:
rio_2_df['GÊNERO'].unique()

array(['fêmea', 'macho'], dtype=object)

In [ ]:
rio_2_df['GÊNERO'] = rio_2_df['GÊNERO'].str.casefold()
rio_2_df['GÊNERO'] = rio_2_df['GÊNERO'].str.strip()

In [27]:
rio_2_df['GÊNERO'].isna().value_counts()

GÊNERO
False    371
Name: count, dtype: int64

### Formatação do Atributo STATUS/ATENDIMENTOS pra govenança de dados

In [31]:
rio_2_df.head(2)

  Carimbo de data/hora ESPÉCIE GÊNERO STATUS/ATENDIMENTOS trailer meses
0           2024-06-07  felino  fêmea  cirurgia realizada   rio_2  June
1           2027-06-07  felino  macho  cirurgia realizada   rio_2  June

In [29]:
rio_2_df['STATUS/ATENDIMENTOS'].unique()

array(['CIRURGIA REALIZADA', 'FALTA', 'CIRURGIA RELIZADA', 'RECUSA'],
      dtype=object)

In [30]:
rio_2_df['STATUS/ATENDIMENTOS'] = rio_2_df['STATUS/ATENDIMENTOS'].str.casefold()
rio_2_df['STATUS/ATENDIMENTOS'] = rio_2_df['STATUS/ATENDIMENTOS'].str.strip()

### Formatar os atributos para que se transformem nas próximas etapas em variáveis de trabalho.

In [32]:
print (rio_2_df['ESPÉCIE'].unique())
print (rio_2_df['GÊNERO'].unique())
print (rio_2_df['STATUS/ATENDIMENTOS'].unique())
print (rio_2_df['meses'].unique())

['felino' 'canino']
['fêmea' 'macho']
['cirurgia realizada' 'falta' 'cirurgia relizada' 'recusa']
['June' 'May' 'April' 'March']

#### Juntando Genero e especie em genero

In [33]:
# Caninos
rio_2_df.loc[(rio_2_df['ESPÉCIE']=='canino') & (rio_2_df['GÊNERO']=='macho'), ['GÊNERO']] = 'canino_m'
rio_2_df.loc[(rio_2_df['ESPÉCIE']=='canino') & (rio_2_df['GÊNERO']=='fêmea'), ['GÊNERO']] = 'canino_f'
# Felinos
rio_2_df.loc[(rio_2_df['ESPÉCIE']=='felino') & (rio_2_df['GÊNERO']=='macho'), ['GÊNERO']] = 'felino_m'
rio_2_df.loc[(rio_2_df['ESPÉCIE']=='felino') & (rio_2_df['GÊNERO']=='fêmea'), ['GÊNERO']] = 'felino_f'

In [36]:
rio_2_df['GÊNERO'].unique()

array(['felino_f', 'felino_m', 'canino_f', 'canino_m'], dtype=object)

#### Ajustando a Governança do atributo STATUS para que se transformem em variáveis nas próximas etapas

In [34]:
# Cirurgias não Realizadas
rio_2_df.loc[(rio_2_df['STATUS/ATENDIMENTOS']=='falta'),['STATUS/ATENDIMENTOS']] = 'cirurg_n_realizada'
rio_2_df.loc[(rio_2_df['STATUS/ATENDIMENTOS']=='recusa'),['STATUS/ATENDIMENTOS']] = 'cirurg_n_realizada'
# Cirurgias Realizadas
rio_2_df.loc[(rio_2_df['STATUS/ATENDIMENTOS']=='cirurgia realizada'),['STATUS/ATENDIMENTOS']] = 'cirurg_realizada'
rio_2_df.loc[(rio_2_df['STATUS/ATENDIMENTOS']=='cirurgia relizada'),['STATUS/ATENDIMENTOS']] = 'cirurg_realizada'

In [37]:
rio_2_df['STATUS/ATENDIMENTOS'].unique()

array(['cirurg_realizada', 'cirurg_n_realizada'], dtype=object)

In [35]:
rio_2_df.tail()

    Carimbo de data/hora ESPÉCIE    GÊNERO STATUS/ATENDIMENTOS trailer meses
383           2024-05-11  canino  canino_m    cirurg_realizada   rio_2   May
387           2024-05-11  canino  canino_f    cirurg_realizada   rio_2   May
388           2024-05-11  canino  canino_m    cirurg_realizada   rio_2   May
389           2024-05-11  felino  felino_f    cirurg_realizada   rio_2   May
390           2024-05-11  canino  canino_m    cirurg_realizada   rio_2   May

### Criação das variáveis de Trabalho

In [41]:
#rio_2_df = rio_2_df.join(get_dummies(rio_2_df['GÊNERO'], dtype=int))
rio_2_df = rio_2_df.join(get_dummies(rio_2_df['STATUS/ATENDIMENTOS'], dtype=int))
rio_2_df = rio_2_df.join(get_dummies(rio_2_df['meses'], dtype=int))

In [42]:
rio_2_df.columns

Index(['Carimbo de data/hora', 'ESPÉCIE', 'GÊNERO', 'STATUS/ATENDIMENTOS',
       'trailer', 'meses', 'canino_f', 'canino_m', 'felino_f', 'felino_m',
       'cirurg_n_realizada', 'cirurg_realizada', 'April', 'June', 'March',
       'May'],
      dtype='object')

In [43]:
rio_2_df = rio_2_df.drop(['ESPÉCIE', 'GÊNERO', 'STATUS/ATENDIMENTOS', 'meses'],axis=1)

In [44]:
rio_2_df.tail(2)

,Carimbo de data/hora,trailer,canino_f,canino_m,felino_f,felino_m,cirurg_n_realizada,cirurg_realizada,April,June,March,May
389,2024-05-11,rio_2,0,0,1,0,0,1,0,0,0,1
390,2024-05-11,rio_2,0,1,0,0,0,1,0,0,0,1

### Ordenando quadro de dados:

In [47]:
rio_2_df = rio_2_df.sort_values(by=['Carimbo de data/hora']).reset_index(drop=True)

In [50]:
dia_inicio_rio_2 = rio_2_df['Carimbo de data/hora'].min()
ultimo_dia_rio_2 = rio_2_df['Carimbo de data/hora'].max()
print(dia_inicio_rio_2)
print(ultimo_dia_rio_2)

2024-03-30 00:00:00
2027-06-07 00:00:00

In [51]:
rio_2_df = rio_2_df.drop(['Carimbo de data/hora'], axis=1)

In [52]:
rio_2_df.tail(2)

,trailer,canino_f,canino_m,felino_f,felino_m,cirurg_n_realizada,cirurg_realizada,April,June,March,May
369,rio_2,0,0,1,0,0,1,0,1,0,0
370,rio_2,0,0,0,1,0,1,0,1,0,0

# Construção da Tabela de Contingência Rio_02

In [53]:
tbl_rio_2 = rio_2_df.groupby(by=['trailer']).sum()

In [54]:
tbl_rio_2['total'] = tbl_rio_2['cirurg_n_realizada']+tbl_rio_2['cirurg_realizada']

In [55]:
tbl_rio_2

,canino_f,canino_m,felino_f,felino_m,cirurg_n_realizada,cirurg_realizada,April,June,March,May,total
trailer,,,,,,,,,,,
rio_2,105,82,89,95,83,288,176,2,145,48,371